
@{
//Layout = null;
}
@model MessagesPasser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
    <title>Messages</title>
</head>
<body>
    <h1 class="text-center">Messages for @Model.LoggedUser.Name</h1>
    <br>
    <div> Send a Message using: <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Messenger">Messenger</a></div>
    <br>

    <div class="container">
        @{
            int i = 0;
            foreach (var m in @Model.Messages)
            {
                if (m.Sender != Model.LoggedUser && m.Recipient != Model.LoggedUser)
                {
                    // messages have to be from or to the logged in user
                    continue;
                }

                i++;
                // make every other message color different
            <div class="row @(i % 2 == 0 ? "bg-info" : "")">
                <div class="col-lg-2 @(i % 2 != 0 ? "bg-primary" : "")">
                    <h3>@i.</h3>
                    <strong>@(Model.LoggedUser == m.Sender ? "To: " + m.Recipient.Name : "From: " + m.Sender.Name)</strong>
                </div>

                <div class="col-lg-9">
                    <h4>@m.Subject</h4>
                    @m.Text
                    <br>
                </div>

                @{
                    if (Model.LoggedUser != m.Sender)
                    {
                        <div class="col-lg-1">
                            <br>
                            <form class="p-a-1" asp-controller="Home" asp-action="Messages" method="post">
                                <input asp-for="Recipient" value="@Model.Users.IndexOf(m.Sender)" type="hidden" />
                                <input asp-for="Subject" value="@m.Subject" type="hidden" />
                                <button class="btn btn-primary" type="submit">Reply</button>
                            </form>
                        </div>
                    }
                }                   
            </div>
            }
        }

    </div>
</body>
</html>
