
@{
//Layout = null;
}
@model List<Message>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
    <title>Messages</title>
</head>
<body>
    <h1 class="text-center">Messages for @Repository.LoggedIn.Name</h1>
    <br>
    <div> Send a Message using: <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Messenger">Messenger</a></div>
    <br>

    <div class="container">
        @{
            int i = 0;
            foreach (var m in @Model)
            {
                if (m.Sender != Repository.LoggedIn && m.Recipient != Repository.LoggedIn)
                {
                    // messages have to be from or to the logged in user
                    continue;
                }

                i++;
                // make every other message color different
                <div class="row @(i % 2 == 0 ? "bg-info" : "")">
                    <div class="col-lg-2 @(i % 2 != 0 ? "bg-primary" : "")">
                        <h3>@i.</h3>
                        <strong>@(Repository.LoggedIn == m.Sender ? "To: " + m.Recipient.Name : "From: " + m.Sender.Name)</strong>
                    </div>

                    <div class="col-lg-10">
                        <h4>@m.Subject</h4>
                        @m.Text
                        <br>
                    </div>
                </div>
            }
        }

    </div>
</body>
</html>
