
@{
    Layout = "_LayoutMessage";
    ViewBag.Title = "Messages";
}
@model List<Message>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
    <title>Messages</title>
</head>
<body>
    <h1 class="text-center">Messages for @ViewBag.loggedIn.Name</h1>
    <br>

    <div class="container">
        <div> Send a Message using: <a class="btn btn-default" asp-route-Recipient="0" asp-route-Subject="" asp-action="Messenger">Send Message</a></div>
        <br>

        @{
            int i = 0;
            List<Message> ms = Model;
            // sort by newest first
            ms = ms.OrderByDescending(m => m.SentDate).ToList();

            foreach (var m in ms)
            {
                if (m.Sender != ViewBag.loggedIn && m.Recipient != ViewBag.loggedIn)
                {
                    // messages have to be from or to the logged in user
                    continue;
                }

                i++;
                // make every other message color different
                <div class="row @(i % 2 == 0 ? "bg-info" : "")">
                    <div class="col-lg-2 @(i % 2 != 0 ? "bg-primary" : "")">
                        <h3>@i.</h3>
                        <strong>@(ViewBag.loggedIn == m.Sender ? "To: " + m.Recipient.Name : "From: " + m.Sender.Name)</strong>
                        <br>
                        <span>@m.SentDate</span>
                    </div>

                    <div class="col-lg-9">
                        <h4>@m.Subject</h4>
                        @m.Text
                        <br>
                    </div>

                    @{
                        if (ViewBag.loggedIn != m.Sender)
                        {
                            <div class="col-lg-1">
                                <br>
                                <a asp-route-Recipient="@m.GetSenderAsInt()" asp-route-Subject="@m.Subject" asp-action="Messenger" class="btn btn-primary">Reply</a>
                            </div>
                        }
                    }
                </div>
            }
        }

    </div>
</body>
</html>
